@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<div style="padding-top:5%">

	<address>

		<strong>Admin: Dr. Jonh Santore</strong> Associate Professor and Chairperson, Department of Computer Science<br />

		<br>Address: Mohler-Faria Science and Mathematics Center ( 24 Park Avenue ), 333<br />
		<abbr title="Phone">Phone:</abbr>
		508.531.2226
	</address>
	</div>